# Day -9

# tuples in python

# creating a tuple

In [3]:
my_tuple = (1,2)
print(my_tuple)
print(type(my_tuple))

(1, 2)
<class 'tuple'>

# mixed data type

In [4]:
my_tuple =(1,"hello",3.2,4+5j)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 3.2, (4+5j))
<class 'tuple'>

# empty tuple

In [5]:
my_tuple =()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

# nested tuple

In [8]:
a =("data",[1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

# creating a tuple with only one item

In [12]:
var1 =(5,)
print(var1)
print(type(var1))

(5,)
<class 'tuple'>

# tuple constructor

In [13]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [16]:
a =(47,48,54,89,6,1,24,4,"data","python")
print(a[9])

python

# slicing

In [18]:
a =(14,15,12,16,18,28,23,65,486,23,45)
len(a)
print(a[0:6])

(14, 15, 12, 16, 18, 28)

In [23]:
b =(54,45,63,452,4,5,58,65,89,56,24)
print(b[::2])

(54, 63, 4, 58, 89, 24)

In [24]:
c =(54,45,63,452,4,5,58,65,89,56,24)
print(c[:8])

(54, 45, 63, 452, 4, 5, 58, 65)

In [25]:
d =(54,45,63,452,4,5,58,65,89,56,24)
print(d[:])

(54, 45, 63, 452, 4, 5, 58, 65, 89, 56, 24)

# reverse a tuple

In [26]:
e =(45,21,36,89,45,26,789,56,75,46,23,2)
print(e[::-1])

(2, 23, 46, 75, 56, 789, 26, 45, 89, 36, 21, 45)

# Question

In [27]:
T =(1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
7

In [28]:
a =(25,26,27,28,29)
y =list(a)
y.append("30")
a = tuple(y)
print(a)

(25, 26, 27, 28, 29, '30')

# add tuple to tuple

In [41]:
tuple =("python","data","work")
y =("code",)
tuple += y
print(tuple)

('python', 'data', 'work', 'code')

# remove item

In [29]:
a =(25,26,27,28,29)
y =list(a)
y.remove(26)
a =tuple(y)
print(a)

(25, 27, 28, 29)

# Loop through a tuple

In [30]:
thistuple =("a","b","c")
for x in thistuple:
    print(x)

a
b
c

In [31]:
thistuple =("apple","mango","cherry")
i =0
while i< len(thistuple):
    print(thistuple[i])
    i = i+1

apple
mango
cherry

# Join Two Tuples

In [32]:
tuple1 =("a","b","c")
tuple2 =(1,2,3)

tuple3 =tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuples

In [33]:
a =("aaple","data","python")
b = a*2
print(b)

('aaple', 'data', 'python', 'aaple', 'data', 'python')

# question

In [34]:
T = (1,2,3,4,5,6,7,8,)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# write a program to take 5 input from user and store it in a tuple.

In [37]:
T =()
i = 0
while i<=5:
    num = int(input("enter the values : "))
    T = T+(num,)
    i = i+1
    print(T)

enter the values :  10

(10,)

enter the values :  20

(10, 20)

enter the values :  30

(10, 20, 30)

enter the values :  40

(10, 20, 30, 40)

enter the values :  50

(10, 20, 30, 40, 50)

enter the values :  60

(10, 20, 30, 40, 50, 60)