#  Day 10

# creating a dictionary

In [2]:
a = {
    "ID" :"123b",
    "color" :"Black",
    "year" : 1964
}
print(a)
print(type(a))

{'ID': '123b', 'color': 'Black', 'year': 1964}
<class 'dict'>

# dictionary items are ordered

In [2]:
b = {
    "ID" :"123b",
    "color" :"Black",
    "year" : 1964
}
print(b["color"])

Black

# duplictes not allowed

In [4]:
c = {
    "ID" :"123b",
    "color" :"Black",
    "year" : 1964,
    "year" :2000
}
print(c)

{'ID': '123b', 'color': 'Black', 'year': 2000}

# dictionary length

In [5]:
d = {
    "ID" :"123b",
    "color" :"Black",
    "year" : 1964
}
print(len(d))

3

# data items- Data types

In [8]:
e = {
    "ID" :"123b",
    "color" :"Black",
    "year" : 1964,
     'a' : [1,2,3,4,5],
    'b' :(2.2,2.3,2.4,2.5),
    'c' : False
}
print(e)

{'ID': '123b', 'color': 'Black', 'year': 1964, 'a': [1, 2, 3, 4, 5], 'b': (2.2, 2.3, 2.4, 2.5), 'c': False}

# the dic() constructor

In [11]:
a =dict(name ="simran" ,age = 19, country ="India")
print(a)
print(type(a))

{'name': 'simran', 'age': 19, 'country': 'India'}
<class 'dict'>

# Accessing the items

In [13]:
a ={"name": "simran","age": "19" ,"country" : "India"}
print(a['name'])

simran

# using get keys

In [14]:
a ={"name": "simran","age": "19" ,"country" : "India"}
print(a.get("name"))

simran

In [16]:
a ={"name": "simran","age": "19" ,"country" : "India"}

In [18]:
x =a.keys()
x

dict_keys(['name', 'age', 'country'])

# get values

In [19]:
a ={"name": "simran","age": "19" ,"country" : "India"}

In [20]:
y = a.values()

In [21]:
y

dict_values(['simran', '19', 'India'])

# change values

In [22]:
a ={"name": "simran",
    "age": "19" ,
    "country" : "India"}
a['age'] =20
print(a)

{'name': 'simran', 'age': 20, 'country': 'India'}

# adding values

In [23]:
a ={"name": "simran",
    "age": "19" ,
    "country" : "India",
    "gender" :"female"}
a['age'] =20
print(a)

{'name': 'simran', 'age': 20, 'country': 'India', 'gender': 'female'}

# update method()

In [25]:
a ={"name": "simran",
    "age": "19" ,
    "country" : "India",
    "gender" :"female"}
a.update({"mail id " :"simran@gmail.com"})
print(a)

{'name': 'simran', 'age': '19', 'country': 'India', 'gender': 'female', 'mail id ': 'simran@gmail.com'}

# Remove Items

# The pop() method removes the item with the specified key name:

In [27]:
a ={"name": "simran",
    "age": "19" ,
    "country" : "India",
    "gender" :"female"}
a.pop("age")
print(a)

{'name': 'simran', 'country': 'India', 'gender': 'female'}

#  The del keyword removes the item with the specified key name:

In [28]:
a ={"name": "simran",
    "age": "19" ,
    "country" : "India",
    "gender" :"female"}
del a["age"]
print(a)

{'name': 'simran', 'country': 'India', 'gender': 'female'}

# use [del _ any variable ]use to delete a whole dictionary

# The clear() method empties the dictionary

In [29]:
a ={"name": "simran",
    "age": "19" ,
    "country" : "India",
    "gender" :"female"}
a.clear()
print(a)
print(type(a))

{}
<class 'dict'>

# write a python script to concatenate the following dictionaries to create a new one.

In [33]:
dict1 ={1:10, 2:20}
dict2 ={3:30, 4:40}
dict3 ={5:50, 6:60}
dict4 ={}
for d in (dict1 ,dict2, dict3): dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# write a python program to print a dictionary in table format.

# Print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys.

In [34]:
d = dict()
for x in range (1,16):
    d[x] =x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

# Check whether thw given key already exists in a dictinary.

In [2]:
d = {1:10, 2:20, 3:30, 4:40, 5:50 ,6:60}
def is_key_present(x):
    if x in d:
        print('Key is present in dictionary')
    else:
        print('key is not present in dictionary')
is_key_present(5)
is_key_present(9)

Key is present in dictionary
key is not present in dictionary

In [4]:
is_key_present(7)

key is not present in dictionary