# day - 8

# Lists in python

# creating a list

In [1]:
mylist = ["apple","banana","cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

# allow duplicates

In [2]:
mylist =["apple","banana","apple","cherry","banana","apple"]
print(mylist)

['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']

In [3]:
list1 =["apple","banana","cherry"]
list2 =[2,5,8]
list3 =[7.8,8.2,9.5]
list4 =[True,False,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[2, 5, 8]
[7.8, 8.2, 9.5]
[True, False, True]

In [5]:
a = [12,-8,5,-56,8.4,7.9,"students","hello",True,False]
print(a)

[12, -8, 5, -56, 8.4, 7.9, 'students', 'hello', True, False]

# List length

In [6]:
a =[12,-8,5,-56,3.6,34,"students","hello",True,False]
print(len(a))

10

In [7]:
b =[15,8,9,3,4,6,7,8,9,25]
print(len(b))

10

# Access Items

In [10]:
thelist = [12,25,15,26,78,96,45,22,56,89]
print(thelist[1])

25

# Slicing of list

In [12]:
c =[12,25,15,26,78,96,45,22,56,89]
print(c[0:6])

[12, 25, 15, 26, 78, 96]

In [13]:
d =[12,25,15,26,78,96,45,22,56,89]
print(d[3:9])

[26, 78, 96, 45, 22, 56]

In [14]:
e =[12,25,15,26,78,96,45,22,56,89]
print(e[0:10:2])

[12, 15, 78, 45, 56]

# change list items

In [1]:
thislist =["apple","banana","cherry"]
thislist[1] = "strwaberry"
print(thislist)

['apple', 'strwaberry', 'cherry']

In [2]:
f = [12,14,15,16,8,9,-5,-3,41,-9]
f[2] = "students"
print(f)

[12, 14, 'students', 16, 8, 9, -5, -3, 41, -9]

# change a range of item values

In [3]:
g = [12,14,15,16,8,9,-5,-3,41,-9]
g[2:4] = ["books","pen","copy"]
print(g)

[12, 14, 'books', 'pen', 'copy', 8, 9, -5, -3, 41, -9]

# add list items

In [4]:
h =[12,12,15,78,96,25]
h.append(-9)
print(h)

[12, 12, 15, 78, 96, 25, -9]

# remove item

In [6]:
m =["apple","cherry","student","hello"]
m.remove("student")
print(m)

['apple', 'cherry', 'hello']

# Reversing a list

In [7]:
mylist =[1,2,3,4,5,"python","science"]
mylist.reverse()
print(mylist)

['science', 'python', 5, 4, 3, 2, 1]

# sum of all numbers in list

In [9]:
l =[14,15,12,78,-9,23,-8,52,74,89,25,10,8]
print(len(l))
a = 0
for i in range(13):
    a = a +l[i]
    i = i +1
print("the sum of a list is ",a)

13
the sum of a list is  383

In [11]:
list =[1,2,3,4,5,6,7,8,9,10]
n =1
for i in range(10):
    n = n*list[i]
    i = i+1
print(n)

3628800

In [17]:
sim = [45,26,24,35,15,89,357,45,1,5]
print(sim)
print(len(sim))
b = sim[0]
sim[0] =sim[8]
sim[9] =b
print("now the new list",sim)

[45, 26, 24, 35, 15, 89, 357, 45, 1, 5]
10
now the new list [1, 26, 24, 35, 15, 89, 357, 45, 1, 45]