In [3]:
l1 = [1,2,3,4]
l2 =[1,2,3,4]

In [4]:
l1 == l2

True

In [5]:
# object: anything which stores any lind of information

print(type(l1))

<class 'list'>

In [6]:
# l1 and l2 are objects of a list
# l1 and la are SEPARATE INSTANCES of list

In [7]:
l1 is l2

False

In [8]:
l1.append(5)

In [9]:
l2

[1, 2, 3, 4]

In [10]:
l1

[1, 2, 3, 4, 5]

In [11]:
l1 = [1,2,3,4]
l2 =[1,2,3,4]

In [12]:
l3 =l1

In [13]:
print(l1)
print(l2)
print(l3)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [14]:
l1==l2

True

In [15]:
l1==l3

True

In [16]:
l2==l3

True

In [17]:
l1 is l2

False

In [18]:
l1 is l3

True

In [19]:
l1.append(5)

In [20]:
l1

[1, 2, 3, 4, 5]

In [21]:
l3

[1, 2, 3, 4, 5]

In [22]:
l1 =[1,2,3,4]
l2 =[1,2,3,4]
l3 = l1  # same memory location
l4 = l1.copy() # different memory location

In [23]:
l4 is l1

False

In [24]:
# original > same memory with different variable name

In [32]:
for i in range(3):

    base_salary =int(input('Enter the salary : '))
    gender = input('Enter gender : ').lower()
    
    if base_salary>=10000:
    
        if gender=='male':
    
            bonus= 0.05*base_salary
            total_salary = base_salary+bonus
    
            print(f'Bonus: {bonus},\nTotal Salary: {total_salary}')
            
        elif gender=='female':
    
            bonus= 0.1*base_salary
            total_salary = base_salary+bonus
             
            print(f'Bonus: {bonus},\nTotal Salary: {total_salary}')
    
    else :
    
    
        if gender=='male':
    
            bonus= 0.07*base_salary
            total_salary = base_salary+bonus
            print(f'Bonus: {bonus},\nTotal Salary: {total_salary}')
        
        
        elif gender=='female':
    
            bonus= 0.12*base_salary
            total_salary = base_salary+bonus
    
            print(f'Bonus: {bonus},\nTotal Salary: {total_salary}')

Enter the salary :  5000
Enter gender :  male

Bonus: 350.00000000000006,
 Total Salary: 5350.0

Enter the salary :  5200
Enter gender :  male

Bonus: 364.00000000000006,
 Total Salary: 5564.0

Enter the salary :  56400
Enter gender :  female

Bonus: 5640.0,
 Total Salary: 62040.0

# Shortcut

In [27]:
 number = 1000000
print(f'{number : ,}')

 1,000,000

In [30]:
numbers =100000

In [31]:
print(numbers)

100000

In [33]:
records = {}   # {101:'chips',102 :'chocolate'...}

for i in range(1,6):

    barcode =100+i   # key
    product_name =input('Enter name') # value

    records.setdefault(barcode,product_name)

Enter name chip
Enter name chocolate
Enter name cold drink
Enter name biscuits
Enter name ice cream

In [34]:
records

{101: 'chip',
 102: 'chocolate',
 103: 'cold drink',
 104: 'biscuits',
 105: 'ice cream'}

In [59]:
records = {}   # {101:'chips',102 :'chocolate'...}

for i in range(1,6):

    barcode =100+i   # key
    product_name =input('Enter name') # value   

    records[barcode] = product_name

Enter name chips
Enter name chocolate
Enter name cold drinks
Enter name biscuits
Enter name ice cream

In [60]:
records

{101: 'chips',
 102: 'chocolate',
 103: 'cold drinks',
 104: 'biscuits',
 105: 'ice cream'}

In [61]:
names =(records.values())

In [62]:
names

dict_values(['chips', 'chocolate', 'cold drinks', 'biscuits', 'ice cream'])

In [72]:
names = ['chips','chocolate','cold drink','biscuits','ice cream']
records = {}   # {101:'chips',102 :'chocolate'...}

for i in range(len(names)):

    barcode  = 100 + i + 1   # key
    product_name = names[i]# value   

    records[barcode] = product_name

In [73]:
records

{101: 'chips',
 102: 'chocolate',
 103: 'cold drink',
 104: 'biscuits',
 105: 'ice cream'}

In [74]:
records ={'barcodes':[],'names':[]}

for i in range(len(names)):
    barcode  = 100 + i + 1   # key
    product_name = names[i]# value 

    records['barcodes'].append(barcode)
    records['names'].append(product_name)

In [75]:
records

{'barcodes': [101, 102, 103, 104, 105],
 'names': ['chips', 'chocolate', 'cold drink', 'biscuits', 'ice cream']}