In [1]:
# if salary is less than 10k , 2% extra bonus on base salary

# male employee : 5% on base salary
# female employee :10% on base salary

In [18]:
base_salary =int(input('Enter the salary : '))
gender = input('Enter gender : ').lower()

if base_salary>=10000:

    if gender=='male':

        bonus= 0.05*base_salary
        total_salary = base_salary+bonus

        print(f'Bonus: {bonus}, Total Salary: {total_salary}')
        
    elif gender=='female':

        bonus= 0.1*base_salary
        total_salary = base_salary+bonus
         
        print(f'Bonus: {bonus}, Total Salary: {total_salary}')

else :


    if gender=='male':

        bonus= 0.07*base_salary
        total_salary = base_salary+bonus
        print(f'Bonus: {bonus}, Total Salary: {total_salary}')
    
    
    elif gender=='female':

        bonus= 0.12*base_salary
        total_salary = base_salary+bonus

        print(f'Bonus: {bonus}, Total Salary: {total_salary}')

Enter the salary :  5000
Enter gender :  female

Bonus: 600.0, Total Salary: 5600.0

# Loops

In [20]:
# for loop: range
# while loop: condition

In [22]:
# LHS in RHS
# list,tuple,dictionary,set
# iterable: list,tuple,dictionary,set,string,range

In [23]:
for i in range (1,11):

    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range(1,11):

    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [26]:
for i in range(10,0,-1):

    print(i)

10
9
8
7
6
5
4
3
2
1

In [30]:
for i in range(1,21):

    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [29]:
print(range(1,10))

range(1, 10)

In [31]:
for i in range(3):
    print(i)

0
1
2

In [32]:
fruits =['apple','banana','cherry','mango']

In [33]:
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [35]:
for i in fruits:
    print(i.upper())

APPLE
BANANA
CHERRY
MANGO

In [36]:
fruits =['apple','banana','cherry','mango','apple','orange']

In [38]:
filtered_fruits =[]

for i in fruits:

    if i not in filtered_fruits:
        filtered_fruits.append(i)

In [40]:
filtered_fruits

['apple', 'banana', 'cherry', 'mango', 'orange']

In [41]:
fruits

['apple', 'banana', 'cherry', 'mango', 'apple', 'orange']

In [42]:
filtered_fruits =[]

for i in fruits:
    filtered_fruits = []

    if i not in filtered_fruits:
        filtered_fruits.append(i)

In [45]:
filtered_fruits

['orange']

In [46]:
guests =[]

for i in range(3):
    name = input('Enter name: ')
    guests.append(name)

Enter name:  simran
Enter name:  rahul
Enter name:  ranveer

In [47]:
guests

['simran', 'rahul', 'ranveer']

In [52]:
fruits =['apple','banana','apple','cherry','mango',
        'banana','apple','orange','banana','kiwi']

In [53]:
unique_fruits = []

for fruit in fruits:
    print(f'{fruit}: {fruits.count(fruit)}')
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)

apple: 3
banana: 3
apple: 3
cherry: 1
mango: 1
banana: 3
apple: 3
orange: 1
banana: 3
kiwi: 1

In [54]:
unique_fruits

['apple', 'banana', 'cherry', 'mango', 'orange', 'kiwi']

In [56]:
fruit_dict ={'A':'apple','B':'banana','C': 'cherry'}

In [58]:
fruit_dict['D'] ='dragonfruit'

In [59]:
fruit_dict

{'A': 'apple', 'B': 'banana', 'C': 'cherry', 'D': 'dragonfruit'}

In [68]:
fruits =['apple','banana','apple','cherry','mango',
        'banana','apple','orange','banana','kiwi']

In [71]:
unique_fruits = []
fruit_count ={}

for fruit in fruits:
    fruit_count[fruit] = fruits.count(fruit)
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)

In [73]:
unique_fruits

['apple', 'banana', 'cherry', 'mango', 'orange', 'kiwi']

In [74]:
fruit_count

{'apple': 3, 'banana': 3, 'cherry': 1, 'mango': 1, 'orange': 1, 'kiwi': 1}

In [75]:


for i in range(3): #0,1,2, the variable i is a throw-away variable
    guests =[]
    name = input('enter name: ')
    guests.append(name)

enter name:  simran
enter name:  rahul
enter name:  arpit

In [76]:
guests

['arpit']